<!DOCTYPE html>
<html>
  <head>
    <title>DeviseRolesLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <%= link_to "Home", root_path %>
    <% if user_signed_in? %>
      <%= link_to("Sign out", destroy_user_session_path, :method => 'delete') %>
    <% else %>
      <%= link_to("Sign in", new_user_session_path) %>
    <% end %>
    <%= link_to "Sign up", new_user_path %>

    <%= yield %>
  </body>
</html>
