<!DOCTYPE html>
<html>
  <head>
    <title>DeviseRolesLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>

  <body>
    <%= yield %>
  </body>
</html>
